body {
    margin: 0;
}

.header {
    background: #019267;
    height: 70px;
    margin-bottom: 50px;
    overflow: hidden;
    padding-left: 50px;
    width: 100%;
}
.header a {
    color: #ffd365;
    text-decoration: none;
}
