@font-face {
    font-family: leagueGothic;
    src: url("/html/assests/fonts/League_Gothic/LeagueGothic-Regular-VariableFont_wdth.ttf");
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}
.container {
    width: 80%;
    overflow: hidden;
}

.header {
    background: #03045e;
    height: auto;
    margin-bottom: 50px;
    overflow: hidden;
    padding-left: 50px;
    width: 100%;
}

.header .logo {
    font-family: "leagueGothic";
    font-size: 32px;
    float: left;
    color: #fdeff4;
}

.header .logo span {
    color: #86c6f4;
}

.header .navigation {
    float: right;
    margin-top: 40px;
}
.header .navigation li {
    float: right;
    font-size: 18px;
    margin-left: 20px;
    display: block;
}
.header .navigation li a {
    color: #caf0f8;
    text-decoration: none;
}
.header .navigation li a:hover {
    color: #ffc0d3;
    text-decoration: underline;
}

.parent {
    margin: 100px;
}

.icon-class {
    background-color: #533e85;
    background-image: url("/html/assests/img/team-5.jpg");
    background-size: cover;
    border-radius: 50%;
    height: 300px;
    width: 300px;
}
