body {
    margin: 0;
}
.container {
    width: 80%;
    overflow: hidden;
}

.header {
    background: #019267;
    height: auto;
    margin-bottom: 50px;
    overflow: hidden;
    padding-left: 50px;
    width: 100%;
}

.header .logo {
    font-size: 32px;
    float: left;
}
.header .navigation {
    float: right;
    margin-top: 40px;
}
.header .navigation li {
    float: right;
    font-size: 18px;
    margin-left: 20px;
    display: block;
}
.header .navigation li a {
    color: #ffd365;
    text-decoration: none;
}
